---
import ArticlesList from "../components/ArticlesList.astro";
import User from "../components/User.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const title='Articles'
const pengantar='artikel menarik untuk dibaca'
const currentPath=Astro.url.pathname
// console.log(currentPath)
// console.log(data);

// const data=await response.json()
// const rec=data.records[0]
---

<BaseLayout>
    <div class="w-full bg-blue-100 p-4 text-center">
        <h1>{title}</h1>
        <h2>{pengantar}</h2>
        <div class="flex flex-wrap">
            {
                currentPath==='/articles' ? <ArticlesList /> : <User />
            }        
        </div>
    </div>
</BaseLayout>