---
import ServicesList from "../components/ServicesList.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout>
    <div class="w-full p-4">
        <ServicesList />
    </div>
</BaseLayout>