---
import BaseLayout from './BaseLayout.astro'

const {frontmatter} = Astro.props;
---
<BaseLayout title={frontmatter.title}>
  <div class="flex justify-center">
    <div class="w-full md:w-2/3 py-2">
      <slot />
    </div>
  </div>
</BaseLayout>